@import '../variables/fonts';
@import '../variables/colors';
@import '../commons/icons.scss';

.button {
  border-radius: 6px;
  margin: 16px auto;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.form-primary {
  background-color: $wx-green;
  border: 2.5px solid $wx-green;
  color: $white;
  font-size: $button-primary;

  &:hover {
    background-color: $white;
    color: $wx-green;
  }
}

.form-links-primary {
  background-color: $bg-gray;
  color: $wx-green;
}

.cart-add {
  background: $wx-green;
  border-radius: 2em;
  color: $white;
  float: right;
  font-size: $card-button-add;
  height: 32px;
  line-height: 33px;
  text-align: center;
  transform: translate(20px, -5px);
  width: 31px;
}

.book-detail {
  align-items: center;
  font-size: $book-button-detail;
  line-height: 24px;
}

.book-arrow-back-content {
  border: 2.5px solid $wx-green;
  border-radius: 2em;
  height: 20px;
  margin: 0 12px 0 0;
  text-align: center;
  width: 20px;
}

.book-arrow-back {
  @include arrow($bg-color: $wx-blue);
}
