@import '../variables/fonts';
@import '../variables/colors';

.navbar {
    border-top: 8px solid $wx-blue;
    background-color: $white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 246px 0 246px;
}

.navbar-logo {
    width: 200px;
}

.logout {
    font-size: $navbar-container;
    width: 63px;
    color: $black;
    font-family: Roboto;
    margin: auto 0;
}
