@import '../variables/fonts';
@import '../variables/colors';

.navbar {
  background-color: $white;
  border-top: 8px solid $wx-blue;
  box-shadow: 0 4px 10px 0 $box-shadow-navbar;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 246px 0 246px;
}

.navbar-logo {
  width: 200px;
}

.logout {
  color: $black;
  font-size: $navbar-container;
  margin: auto 0;
  width: 63px;
}

.navbar-options {
  display: flex;
  align-items: center;
}
