@import '../variables/colors';

.alert {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px $silver;
  animation-duration: 5s;
  animation-name: slidein;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  justify-content: center;
}

@mixin alert($name, $bgColor) {
  .#{$name} {
    background-color: #{$bgColor};
    border-left: 5px solid $red;
  }
}

@include alert(danger-alert, $light-red);

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
