@import "src/styles/variables/fonts";

%base-button {
  align-items: center;
  border: solid $earls-green 1px;
  border-radius: 5px;
  display: flex;
  font-size: $button-primary;
  height: 32px;
  justify-content: center;
}

.button {
  @extend %base-button;
  background-color: $earls-green;
  color: $white;
  margin-top: 24px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $earls-green;
  }

  &:disabled {
    background-color: $gray;
    border: solid $gray 1px;
    cursor: not-allowed;
  }
}

.router-link-primary {
  @extend %base-button;
  color: $earls-green;

  &:hover {
    color: $earls-green;
  }

  &:active {
    border: solid $earls-green 1px;
    color: $earls-green;
  }
}

.cart-add {
  background: $earls-green;
  border-radius: 32px;
  bottom: 2px;
  color: $white;
  font-size: $card-button-add;
  height: 32px;
  line-height: 33px;
  position: absolute;
  right: 30px;
  text-align: center;
  transform: translate(20px, -5px);
  width: 31px;
}
