@import 'equalizer';
@import './variables/colors';
@import './commons/images.scss';
@import './commons/forms.scss';
@import './commons/buttons.scss';
@import './commons/navbar.scss';
@import './commons/books.scss';
@import './commons/cart.scss';
@import './commons/popup.scss';
@import './commons/selects.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
