@import '../../../../../styles/variables/colors';
@import '../../../../../styles/commons/forms.scss';

.line-form {
  color: $gray;
  height: 2px;
  margin: 16px 0;
}

.logo {
  align-self: center;
  height: 70px;
  width: 212.42px;
}
