<div class="book-search">
  <input class="book-search-input" name="inputSearch" role="search" [(ngModel)]="inputSearch" type="search"
    placeholder="Buscá por título del libro..." /><img class="book-icon-search" src="assets/search-icon.png"
    alt="Search icon" />
</div>

<div class="books-container">
  <ng-container *ngIf="(books | filterBooks: inputSearch).length === 0; else elseTemplate">
    <div class="book-empy">
      No hay resultados
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <app-book-card data-testid="book-card" *ngFor="
        let book of books | filterBooks: inputSearch;
        trackBy: trackByBooks" [book]="book">
    </app-book-card>
  </ng-template>
</div>
