@import 'src/styles/variables/colors';
@import 'src/styles/commons/forms.scss';

.form-content {
    background-color: $bg-gray;
    border-top: solid $wx-blue 8px;
    display: flex;
    flex-direction: column;
    padding: 20px 25px 24px;
    width: 300px;
  }
