$input-text: 20px;
$button-primary: 16px;
$navbar-container: 18px;
$book-author: 14px;
$book-title: 16px;
$book-input-search: 20px;
$book-detail-title: 32px;
$book-genre: 24px;
$book-features-title: 20px;
$book-features-detail: 20px;
$card-button-add: 28px;
$book-button-detail: 20px;
$popup-content-item: 22px;
$popup-empty-title: 32px;
$popup-empty-desciption: 24px;
$cart-content-count: 10px;
